<%- include('_header') -%>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <span>Services</span>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="#"><%= title %></a>
        </li>
    </ol>
</nav>

<!-- Contents -->
<div class="container-fluid">
    <div class="row justify-content-around">
        <!-- Secondary Navbar -->
        <div class="col-md-3">
            <nav class="navbar navbar-light bg-light">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#" role="tab"><b>Resources</b></a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link active ml-3 my-1" id="a-tab" data-toggle="pill" href="#a"
                            role="tab" aria-controls="a" aria-selected="true">Transplant</a>
                        <a class="nav-link ml-3 my-1" id="b-tab" data-toggle="pill" href="#b" role="tab"
                            aria-controls="b" aria-selected="false">Living Donor</a>
                        <a class="nav-link ml-3 my-1" id="c-tab" data-toggle="pill" href="#c" role="tab"
                            aria-controls="c" aria-selected="false">Cancer</a>
                        <a class="nav-link ml-3 my-1" id="d-tab" data-toggle="pill" href="#d" role="tab"
                            aria-controls="d" aria-selected="false">Family Caregiver</a>
                        <a class="nav-link ml-3 my-1" id="e-tab" data-toggle="pill" href="#e"
                            role="tab" aria-controls="e" aria-selected="false">Advanced Stage Renal Disease</a>
                        <a class="nav-link ml-3 my-1" id="f-tab" data-toggle="pill" href="#f" role="tab"
                            aria-controls="f" aria-selected="false">Advanced Stage Liver Disease</a>
                        <a class="nav-link ml-3 my-1" id="g-tab" data-toggle="pill" href="#g" role="tab"
                            aria-controls="g" aria-selected="false">Trauma</a>
                    </nav>
                </nav>
            </nav>
        </div>
        <!-- Content Display Area -->
        <div class="col-md-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="a-tab">
                    <h1>Transplant</h1>
                  <%- include('_transplant') -%>
                </div>
                <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b-tab">
                    <h1>Living Donor</h1>
                </div>
                <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c-tab">
                    <h1>Cancer</h1>
                  <%- include('_cancer') -%>
                </div>
                <div class="tab-pane fade" id="d" role="tabpanel" aria-labelledby="d-tab">
                    <h1>Family Caregiver</h1>
                </div>
                <div class="tab-pane fade" id="e" role="tabpanel" aria-labelledby="e-tab">
                    <h1>Advanced Stage Renal Disease</h1>
                </div>
                <div class="tab-pane fade" id="f" role="tabpanel" aria-labelledby="f-tab">
                    <h1>Advanced Stage Liver Disease</h1>
                </div>
                <div class="tab-pane fade" id="g" role="tabpanel" aria-labelledby="g-tab">
                    <h1>Trauma</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('_footer') -%>